extends layout
block page
	- var menu = 'admin'
block content
	div.admin
		if (articles.length === 0 )
			p
				| Nothing to display. Add a new
				a(href="/create") poll
				|.
			else
				table.table.table-stripped
					thead
						tr
							th(colspan="2") Actions
							th Poll Title
						tbody
							each poll, index in polls
								tr(data-id="#{poll._id}"+"@"+"#{poll.index}", class=(!poll.published)?'unpublished':'')
									td.action
										button.btn.btn-danger.btn-sm.remove(type="button")
											span.glyphicon.glyphicon-remove(title="Remove")
									td.action
										button.btn.btn-default.btn-sm.publish(type="button")
										span.glyphicon(class=(poll.published)?"glyphicon-pause":"glyphicon-play", title=(poll.published)?"Unpublish":"Publish")
									td= poll.poll_q
			script(type="text/javascript", src="admin.js")
									