extends index

block create
	div.container-fluid
		h1.page-header #{title}
		form(enctype="multipart/form-data", method="POST", action="/")
			h4 Create a poll
			h6 Question:
			input.form-control(type="text", name="poll_q", placeholder="Question", value=" ")
			h6 Answer A:
			input.form-control(type="text", name="ans_a", placeholder="Answer A", value=" ")
			h6 Answer B:
			input.form-control(type="text", name="ans_b", placeholder="Answer B", value=" ")
			input.btn.btn-default.margin(type="submit" value="submit")
		h4 output:
		code #{result}
