extends layout
block page
	- var menu = 'edit'
block content
	h4 Edit your poll
	div= error
	div.col-md-8
		form(action="/api/polls/"+_id+"/"+index+"", method="POST", role="form")
			div.form-group
				label(for="poll_q") Question:
				input#title.form-control(name="poll_q", type="text", value=""+poll_q+"")
			div.form-group
				label Answer
				div#ansGroup
					each ans, index in poll_a
						div.input-group(id=""+index+"")
							input.form-control(type="text", name="ans_"+index+"", value= ans.name)
							span.input-group-btn
								button.btn.btn-danger.remove(id=""+index+"") x
				button.btn.btn-info.add +
			p
			button.btn.btn-primary(type="submit") Update
	script(type='text/javascript').
		$('.add').click(function(){
			var index = $('.input-group').length;
			$.post('/api/poll_a/'+index+'').then(function(response){
				$('#ansGroup').append(response);
			});
			return false;
		});
		$(document).on('click', '.remove', function(){
			var index = $(this).attr('id');
			$('.input-group#'+index+'').remove();
		});