extends layout

block content
	div.container-fluid
		h1.page-header #{title}
		form(enctype="multipart/form-data", method="POST", action="/")
			h4 Sign up / in to create a poll
			input.btn.btn-default.margin(type="submit" value="Sign in")
		h4 output:
		code #{result}
