doctype html
html
	head
		title= appTitle
		link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
		script(src="https://cdn.auth0.com/js/lock/10.4/lock.min.js")
		script(type="text/javascript", src="https://d3js.org/d3.v3.min.js")
		script(type="text/javascript", src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body
		div.container-fluid.wrapper
			block page
			block header
				include includes/menu
			block alert
				div.alert.alert-warning.hidden
			.content.container-fluid
				block content
			block footer
				nav.navbar.navbar-default.navbar-fixed-bottom
					.container-fluid
						a.navbar-brand(href="https://github.com/tbushman/voting_app_fcc", target="_blank") repo