extends layout
block content
	h4= poll_q
	form(enctype="multipart/form-data", method="POST", action="/vote")
		each name, index in poll_a
			label
				input(type="radio", name=""+poll_a.name+"", value=""+poll_a.name+"")
				h6 #{poll_a.name}
		button.btn.btn-primary(type="submit") Vote
		
