extends layout
block page
	- var menu = 'signup'
block content
	div.col-xs-12.col-md-6
		h4 Sign up to create a poll
		form(enctype="multipart/form-data", method="POST", action="/signup")
			div.form-group
				label(for='user') Username:
				input#user.form-control(type="text", name="user", placeholder="Username")
			div.form-group
				label(for='pass') Password:
				input#pass.form-control(type="text", name="pass", placeholder="Password")
			button.btn.btn-primary(type='submit') Sign up