extends layout

block content
	div.container-fluid
		h1.page-header #{title}
		h4 Sign up to create a poll
		form(enctype="multipart/form-data", method="POST", action="/signup")
			div.form-group
				label(for='user') Username:
				input#user.form-control(type="text", name="user", placeholder="Username")
			div.form-group
				label(for='pass') Password:
				input#pass.form-control(type="text", name="pass", placeholder="Password")
			button.btn.btn-primary(type='submit') Sign up
		h4 output:
		code #{result}
