body {
  font: 'Open Sans', sans-serif;
}

a {
  color: #00B7FF;
}
.wrapper {
	padding-top: 100px;
}

.pollDiv.hider {
	display: none;
}

#toggle {
	cursor: pointer;
}

.panel-title:hover {
	text-decoration: none;
}

#poll, #chart {
	margin: 0 auto;
	display: inline-block;
}

.input-group {
	margin-bottom: 15px;
}

.vis {
	width: 400px;
	height: 300px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: tomato;
}

svg text.label {
  fill:white;
  font: 16px;  
  font-weight: 400;
  text-anchor: middle;
}
.title {
  font-size: 14px;
}

tspan {
  font-size: 10.5px!important;
  font-weight: 400;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}